<h3>Admin</h3>


<div>
  <button {{action "publish"}} class='btn btn-success'>Anunciar</button>
  <button {{action "return"}} class='btn btn-danger'>Volver a la pantalla principal</button>
</div>

{{outlet}}
